<div class="sidebar__main">
  <div class="sidebar__top">
    <p class="p__p-purple padding">IDP</p>
    <p class="p__p-grey padding16">
      Innovation<br>
      Dropshipping<br>
      Platform
    </p>
  </div>
  <div class="sidebar__bottom">
    <div class="sidebar__wrapper">

      <div class="bottom__flex" *ngFor="let item of items" [id]="item.id" (click)="arrowClick(item)">
        <div class="bottom__flex-left">
          <div class="bottom__flex-column">
            <div class="bottom__flex-left">
              <img [src]="item.img"/>
              {{item.title}}
            </div>

            <div *ngFor="let subItem of subItems"
                 [ngClass]="item.arrowState?'bottom__drop-down':'bottom__drop-down-none'">
              <div class="bottom__drop-down-inside"
                   (click)="navigateTo(subItem)">
                {{subItem.title}}
              </div>
            </div>
          </div>

          <div [ngClass]="item.hasSubmenu?'bottom__flex-right':'bottom__drop-down-none'"
               *ngIf="item.hasSubmenu">
            <img [ngClass]="item.arrowState?'rotate':''"
                 src="../../../../assets/img/sidebar/Down-errow.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
